:root, html.darkmode {
  --background-color: #000000;
  --color-primary: #FFFFFF;
  --color: #FFFFFFB3;
  --color-disabled: #FFFFFF4D;

  --color-purple: #AA7FF2;
  --color-pink: #D291CF;
  --color-red: #E6515B;
  --color-yellow: #FBE470;
  --color-green: #6DD982;
  --color-turquoise: #72F6FD;
  --color-bannerboy-blue: #5FADD5;
  --color-dark-blue: #162B2F;
}

@font-face {
  font-family: 'gilroy';
  src: url('fonts/Gilroy-Heavy.woff2') format('woff2'),
    url('fonts/Gilroy-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  unicode-range: U+000-5FF;
  font-display: swap;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color: var(--color);
  background-color: var(--background-color);
  font-size: 10px;
  font-family: 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
}

h1, h2, h3 {
  font-family: gilroy, 'Helvetica Neue', sans-serif;
  color: var(--color-primary);
  font-weight: 900;
  font-size: 4rem;
  line-height: 1em;
  margin: 0 0 0.3em;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  max-width: 100%;
}

h1 > small, h2 > small, h3 > small {
  font-size: 1em;
  color: var(--color-disabled);
}

h3 {
  font-size: 3rem;
}

button, a.button {
  cursor: pointer;
  color: var(--color-primary);
  font-size: 0.6em;
  text-transform: uppercase;
  text-decoration: none;
  font-family: gilroy, 'Helvetica Neue', sans-serif;
  line-height: 4em;
  letter-spacing: 0.2em;
  padding: 1.5rem 3rem;
  border-radius: 4rem;
  border: solid 0.2rem;
}

/* Tablets and wider */
@media (min-width: 768px) {
  h1, h2, h3 {
    font-size: 6rem;
  }
}

/* Desktop and wider */
@media (min-width: 1280px) {
  h1, h2, h3 {
    font-size: 8rem;
  }
}
